body{
    margin:0;
    overflow:hidden;
    font-family: Microsoft JhengHei;
}

#page{
    background-image: url(material/TOLHIUU.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width:100vw;
    height:100vh;
    position: absolute;
    z-index: 1;
}

#page-mask{
    width:100vw;
    height:100vh;
    background-color: black;
    opacity:0.7;
    position: absolute;
    z-index: 2
}

#page-banner{
    display: inline-block;
    vertical-align : top;
    width:99vw;
    height: 9vw;
    position: relative;
    z-index: 3;
}

#banner-logo{
    display: inline-block;
    vertical-align : top;
    width: 7vw;
    margin-left: 15vw;
    margin-top: 1vw;
}

#logo-image{
    width:7vw;
}

#banner-options{
    display: inline-block;
    vertical-align : top;
    width: 50vw;
    margin-left: 26vw;
    margin-top: 4vw;
}

.options-choice{
    display: inline-block;
    vertical-align : top;
    text-decoration:none;
    color:white;
    font-size:1.3vw;
    margin-left:3vw;
}

.options-choice:hover{
    font-weight:bold;
}
#page-card{
    display: inline-block;
    vertical-align : top;
    width:71vw;
    height:36vw;
    margin-left: 16vw;
    margin-top: 1vw;
}

#card-mask{
    position: absolute;
    background-color: black;
    opacity:0.3;
    width:71vw;
    height:36vw;
}

#card-left{
    display: inline-block;
    vertical-align : top;
    position: relative;
    z-index: 3;
    width:32vw;
    margin-left: 3vw;
    margin-top: 3vw;
}

#left-love{
    display: inline-block;
    vertical-align : top;
    position: relative;
    width:24vw;
}

#love-image{
    display: inline-block;
    vertical-align : top;
    position: relative;
    width:5vw;
}

#left-title{
    display: inline-block;
    vertical-align : top;
    color:white;
    font-size: 1.1vw;
    position: relative;
    opacity: 0.9;
}

#left-line{
    border: 2px solid white;
    border-radius: 1px;
    margin-top: 2vw;
    opacity: 0.5;
}

#information-title{
    display: inline-block;
    vertical-align : top;
    color:white;
    position: relative;
    opacity: 0.9;
}

.title-text{
    font-size:1.1vw;
    margin-top: 1.5vw;
    font-weight:bold;
}

#information-content{
    display: inline-block;
    vertical-align : top;
    color:white;
    position: relative;
    margin-left:5vw;
    opacity: 0.9;
}

.content-text{
    font-size:1.1vw;
    margin-top: 1.5vw;
}

#card-right{
    display: inline-block;
    vertical-align : top;
    position: relative;
    width: 24vw;
    z-index: 3;
    margin-top: 1.5vw;
    margin-left: 5vw;
}

#right-personal_pic{
    width: 30vw;
}